/** Theme colors **/

:root {
    --bg: #6D6875;
    --text: white;
    --heading: #E5989B;
    --link: #FFB4A2;
    --link-hover: #B5838D;
}

body {
    background-color: var(--bg);
    color: var(--text);
}


/** Typography **/

a:link,
a:visited {
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}

a:active {
    color: var(--text);
}

#site-title {
    color: white;
    text-decoration: none;
}

#nav>a {
    text-decoration: none;
}


/** Layout **/

header {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto;
}

#logo-container {
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
}

#logo-container,
#logo-container img {
    width: 100px;
    height: auto;
}

#site-title {
    grid-column: 2;
}

#nav {
    grid-column: 3;
    list-style: none;
    padding: 0;
}

#nav li {
    padding: 10px;
}

#phone-number {
    grid-column: 4i;
    color: white;
    text-align: right;
}

#social-media {
    text-align: right;
}


/* Create collapsible menu for mobile */


/* Hide checkbox */

.toggle,
.toggle-label {
    display: none;
    grid-column: 1 / 5;
    grid-row: 2;
}

.toggle-label {
    width: 100%;
    height: auto;
    padding: 1em;
    text-align: center;
    background-color: black;
}


/* Active for widths up to the selected length */

@media (max-width: 850px) {
    #nav {
        flex-direction: column;
    }
    .toggle-label {
        display: block;
    }
    .toggle+.toggle-label::before {
        content: "▼ Menu";
    }
    .toggle:checked+.toggle-label::before {
        content: "▲ Menu";
    }
    .toggle~#nav {
        display: none;
    }
    .toggle:checked~#nav {
        grid-row: 3;
        grid-column: 1 / 5;
        display: flex;
        text-align: center;
    }
    .toggle-label {
        place-self: center;
    }
}


/* End collapsible menu */