@charset "UTF-8";
/* Theme colors */
/* Color codes */
/**/
/**/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
body {
  background-color: white;
}

/* Reset */
a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active, a:hover {
  text-decoration: none;
  color: unset;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

/* Theme colors */
/* Color codes */
/**/
/**/
body {
  background-color: white;
}

/**/
/**/
/** Layout **/
main {
  max-width: 100vw;
  display: -ms-grid;
  display: grid;
}

main .main-container {
  place-self: center;
  width: 100%;
  max-width: 1800px;
  padding: 0 0.5rem;
}

/** Common Layout */
body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

body header {
  -ms-grid-row: 1;
  grid-row: 1;
}

body main {
  -ms-grid-row: 2;
  grid-row: 2;
}

body footer {
  -ms-grid-row: 3;
  grid-row: 3;
}

main {
  font-family: "Montserrat";
}

#phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Montserrat";
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
}

#phone-number::before {
  content: '\2001\2001';
  border-radius: 50% 0 0 50%;
}

#phone-number::before,
#phone-number > * {
  text-align: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #3b6575;
  color: white !important;
}

#phone-number a {
  padding: 0.5rem;
  padding-left: 0;
}

.page-title {
  font-family: "Montserrat";
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  color: #304836;
}

/** Tablet Layout **/
@media only screen and (min-width: 880px) {
  main .main-container {
    padding: 0 3rem;
  }
  .toggle,
  .toggle-label {
    display: none;
  }
  #site-title {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  #nav {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
    overflow: unset !important;
  }
  #nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/** Desktop Layout **/
@media only screen and (min-width: 1130px) {
  #site-title {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  #nav {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

/* Other styles */
html {
  scroll-behavior: smooth;
}

/* Theme colors */
/* Color codes */
/**/
/**/
body {
  background-color: white;
}

/**/
/**/
header {
  max-width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr auto;
      grid-template-columns: -webkit-max-content 1fr auto;
      grid-template-columns: max-content 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #408852;
  -webkit-box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.75);
  margin-bottom: 1rem;
  max-width: 100vw !important;
}

header #logo-and-title {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo-container,
#logo-container img {
  width: 5rem;
  height: auto;
  padding-left: 3px;
  padding-right: 10px;
}

#site-title {
  font-size: 1.75rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Bebas Neue";
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: white;
}

#site-title:link, #site-title:visited, #site-title:hover, #site-title:active {
  color: white;
}

#site-title:hover {
  color: #304836 !important;
}

#main-nav {
  font-family: "Montserrat";
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
}

/** Mobile Layout **/
.toggle-label {
  max-width: 100vw !important;
  padding: 1em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
}

#main-nav {
  background-color: white;
  text-align: center;
  place-self: stretch;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 3;
  grid-row: 3;
}

#main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

#main-nav ul a {
  line-height: 2rem;
  padding: 1rem 0;
  border: none;
}

#main-nav ul a:hover {
  background-color: #304836;
  color: white;
}

/* Collapsible menu for mobile */
.toggle,
.toggle-label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.toggle + .toggle-label::before {
  content: "▼ Menu";
}

.toggle:checked + .toggle-label::before {
  content: "▲ Menu";
}

.toggle ~ nav {
  max-height: 0;
  padding: 0;
  display: none;
  overflow: hidden;
  -webkit-transition: max-height 0.25s ease-in-out;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked ~ nav {
  display: inline-block;
  text-align: center;
  max-height: 100vh;
}

/* End collapsible menu */
/** Tablet Layout **/
@media only screen and (min-width: 880px) {
  #main-nav {
    display: inline-block;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    place-self: center;
    background-color: unset;
    overflow: unset;
    max-height: 100vh;
  }
  #main-nav ul {
    font-size: 0.90rem;
    background-color: transparent;
    text-align: left;
    max-height: 100vh !important;
    height: 2.5rem;
    padding-right: 1rem;
    gap: 1rem;
    -webkit-animation: none;
            animation: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main-nav ul a {
    padding: 0;
    color: white !important;
    padding-left: 1rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #main-nav ul a + a {
    border-left: 2px solid black;
  }
  #main-nav ul a:link, #main-nav ul a:visited {
    color: #304836;
  }
  #main-nav ul a:hover {
    color: #304836 !important;
    background-color: unset;
  }
  #main-nav ul a:active {
    color: #f3d6ad;
  }
  .toggle-label {
    display: none;
    visibility: hidden;
  }
}

/** Desktop Layout **/
@media only screen and (min-width: 1130px) {
  #main-nav {
    font-size: 1rem;
    border: 0;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

/* Theme colors */
/* Color codes */
/**/
/**/
body {
  background-color: white;
}

/** About **/
.external:hover {
  text-decoration: underline !important;
}

#about-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

#about-main-container {
  padding-top: 2rem;
}

#about-blurb {
  text-indent: 2%;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#about-blurb h1 {
  text-align: center;
}

#about-blurb p {
  padding-bottom: 1rem;
}

/** Layout **/
#youtube-embed {
  display: -ms-grid;
  display: grid;
  padding-bottom: 3rem;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 38.12494%;
}

.video-container object,
.video-container embed,
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
  grid-gap: 1em;
  place-items: stretch;
}

#gallery-container img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: inherit;
  height: auto;
  image-orientation: from-image;
  border-style: solid;
  border-color: #408852;
  border-width: 10px;
  border-bottom-width: 30px;
  border-radius: 5px;
  /* Fade images in */
  -webkit-animation: fadeIn ease 5s;
          animation: fadeIn ease 5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#home-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

#social-media {
  text-align: right;
}

#social-media .social-link {
  padding-left: 1rem;
}

#social-media .social-link:hover {
  text-decoration: underline;
}

#home-blurb {
  padding: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bolder;
}

#jump-to-top {
  text-align: center;
}

#promotions {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  place-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

#promotions img {
  width: 20rem;
  height: auto;
}

.promotion {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

/* Layout */
#location-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

#location-main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2.5fr;
      grid-template-rows: 1fr 2.5fr;
  gap: 2rem;
}

/*Hours*/
#hours {
  place-self: center;
  width: 350px;
  margin: 0 auto;
}

.hours_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*Map*/
#maps-embed {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.iframe-container object,
.iframe-container embed,
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/** Tablet Layout **/
@media only screen and (min-width: 880px) {
  #hours {
    width: 30rem;
  }
  .iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 40%;
  }
  .iframe-container object,
  .iframe-container embed,
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/** Desktop Layout **/
@media only screen and (min-width: 1130px) {
  .iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 33.33333%;
  }
  .iframe-container object,
  .iframe-container embed,
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/**/
/**/
/* Theme colors */
/* Color codes */
/**/
/**/
body {
  background-color: white;
}

/**/
.page-title {
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  letter-spacing: 0.5rem;
  font-family: "Bebas Neue";
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.menu-link {
  font-size: 2rem;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2vw;
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}

.menu-section .menu-item {
  max-width: 100vw;
  padding-bottom: 1.8rem;
}

.menu-section .menu-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 10rem;
  height: 10rem;
}

.menu-section .menu-item_title {
  color: #408852;
  font-size: 1.6rem;
  font-weight: 800;
  padding-bottom: 0.5rem;
}

.menu-section .menu-item_description {
  font-size: 1rem;
  font-weight: lighter;
  padding-bottom: 1rem;
}

.menu-item_prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu-item_prices > li:not(:first-of-type) {
  padding-left: 1rem;
}

.menu-item_prices .menu-item_prices_price {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

/** Tablet Layout **/
@media only screen and (min-width: 880px) {
  .menu-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .menu-section .menu-item img {
    float: right;
    padding-left: 1rem;
  }
  .menu-section .menu-item .menu-item_description {
    font-size: 2rem;
  }
}

/** Desktop Layout **/
@media only screen and (min-width: 1130px) {
  .menu-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

/**/
/**/
/* Theme colors */
/* Color codes */
/**/
/**/
body {
  background-color: white;
}

footer {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  color: white;
  background-color: #408852;
}

footer #copyright-statement {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  text-align: right;
}
/*# sourceMappingURL=main.css.map */