/* Theme colors */

$black: #000000;
$green: #408852;
$grena: #304836;
$dblue: #3b6575;
$darkr: #d20000;
$wheat: #f3d6ad;

/* Color codes */

$text: $wheat;
$heading: $darkr;

/**/

$bg: white;
$main-color: $green;
$main-alt: $grena;
$accent1: $darkr;
$link: $grena;

/**/

body {
    background-color: $bg;
}