    @import 'fonts',
    'colors';
    footer {
        @include editorialFont();
        margin: 0.5rem;
        padding: 0.5rem;
        color: white;
        background-color: $main-color;
        #copyright-statement {
            min-width: max-content;
            text-align: right;
        }
    }