@import 'colors',
'fonts',
'breakpoints';
header {
    display: grid;
    grid-template-columns: min-content max-content auto;
    background-color: $main-color;
    box-shadow: 0 0 .8125rem 0 rgba(0, 0, 0, .75);
    margin-bottom: 1rem;
}

#logo-container,
#logo-container img {
    width: 5rem;
    height: auto;
    padding-left: 3px;
    padding-right: 10px;
}

#site-title {
    font-size: 1.5rem;
    justify-self: left;
    align-self: center;
    text-align: left;
    color: white;
    @include titleFont();
}

#nav {
    @include uiFont();
}


/** Mobile Layout **/

.toggle-label {
    place-self: stretch;
    width: inherit;
    height: auto;
    padding: 1em;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
}

#nav {
    background-color: white;
    text-align: center;
    place-self: stretch;
    a {
        border: none;
    }
}


/* Collapsible menu for mobile */

.toggle,
.toggle-label {
    grid-column: 1 / 4;
    grid-row: 3;
}

.toggle {
    &+.toggle-label::before {
        content: "▼ Menu";
    }
    &:checked+.toggle-label::before {
        content: "▲ Menu";
    }
    &~#nav {
        max-height: 0;
        padding: 0;
        overflow: hidden;
        @include navAnimation();
    }
    &:checked~#nav {
        text-align: center;
        max-height: 100vh;
    }
}


/* End collapsible menu */


/** Tablet Layout **/

@media only screen and (min-width: $min-tablet) {
    #nav {
        font-size: 0.8rem;
        max-height: 100vh !important;
        background-color: transparent;
        width: max-content;
        justify-self: center;
        flex-direction: row;
        text-align: left;
        gap: 1rem;
        padding: 1rem;
        place-self: center;
        animation: none;
        a {
            color: white !important;
            padding-left: 1rem;
            &+a {
                border-left: 2px solid black;
            }
        }
    }
    #footer-links {
        font-size: 1rem;
        padding: 1rem;
        gap: 1rem;
        a {
            padding-left: 1rem;
        }
    }
}


/** Desktop Layout **/

@media only screen and (min-width: $min-desktop) {
    #nav {
        font-size: 1rem;
    }
}