@mixin bottomPad($iframe-width, $iframe-height) {
    $iframe-padding: ($iframe-height / $iframe-width) * 100%;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: $iframe-padding;
    object,
    embed,
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}