/** Theme colors **/

:root {
    --bg: #6D6875;
    --text: white;
    --heading: #E5989B;
    --link: #FFB4A2;
    --link-hover: #B5838D;
}

body {
    background-color: var(--bg);
    color: var(--text);
}


/** Typography **/

a:link,
a:visited {
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}

a:active {
    color: var(--text);
}

#site-title {
    color: white;
    text-decoration: none;
}


/** Layout **/

header {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto;
}

#logo-container {
    grid-column: 1;
    grid-row: 1;
    list-style: none;
}

#site-title {
    grid-column: 2;
}

#nav {
    grid-column: 3;
    list-style: none;
}

#phone-number {
    grid-column: 4;
    color: white;
}