#home-main {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#social-media {
    text-align: right;
    .social-link {
        padding-left: 1rem;
        &:hover {
            text-decoration: underline;
        }
    }
}

#home-blurb {
    padding: 2rem 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bolder;
}

#jump-to-top {
    text-align: center;
}

#promotions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    place-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
    img {
        width: 20rem;
        height: auto;
    }
}

.promotion {
    width: min-content;
    display: grid;
    place-items: center;
}