@import '../iframe';

/*Hours*/

#hours {
    max-width: 25rem;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.hours_section {
    display: flex;
    justify-content: space-between;
}


/*Map*/

.iframe-container {
    @include bottomPad(1, 1);
}


/** Tablet Layout **/

@media only screen and (min-width: $min-tablet) {
    .iframe-container {
        @include bottomPad(2.5, 1);
    }
}


/** Desktop Layout **/

@media only screen and (min-width: $min-desktop) {
    .iframe-container {
        @include bottomPad(3, 1);
    }
}