@import '../iframe';

/* Layout */

#location-main {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}


/*Hours*/

#hours {
    place-self: center;
    width: 350px;
    margin: 0 auto;
}

.hours_section {
    display: flex;
    justify-content: space-between;
}


/*Map*/

#maps-embed {
    align-self: end;
}

.iframe-container {
    @include bottomPad(1, 1);
}


/** Tablet Layout **/

@media only screen and (min-width: $min-tablet) {
    #hours {
        width: 30rem;
    }
    .iframe-container {
        @include bottomPad(2.5, 1);
    }
}


/** Desktop Layout **/

@media only screen and (min-width: $min-desktop) {
    .iframe-container {
        @include bottomPad(3, 1);
    }
}